.fullpage {
    width: 100%;
}

.bg_01 {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    background-image: url('../images/bg-12.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.copy {
    position: absolute;
    top: 36%;
    left: 29%;
}

.prevArrow, .nextArrow {
    position: absolute;
    top: 76%;
    width: 93px;
    height: 140px;
    background-color: #ffffff;
    cursor: pointer;
    padding: 54px 32px;
}

.prevArrow:hover, .nextArrow:hover {
    background-color: #6889FF;
}


.prevArrow {
    border-radius: 20px 0 0 20px;
    left: 13.5%;
    z-index: 1;
    box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.1);
}

.prevArrow img {
    transform: rotate(180deg);
}

.nextArrow {
    border-radius: 0 20px 20px 0;
    right: 13.5%;
    box-shadow: -4px 0px 8px 0px rgba(0,0,0,0.1);
}

.nav_bar {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 150px;
    position: relative;
}

.nav_bar li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_bar li a .icon {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    margin: 20px 0 10px;
    transition: all 0.3s;
}

.nav_bar li:hover a .icon {
    background-color: #FFD233;
}

.nav_bar li a img {}
.nav_bar li a p {
    font-size: 16px;
    color: #666666;
    text-align: center;
    transition: all 0.5s;
}
.nav_bar li:hover a p {
    color: #333333;
    font-weight: 700;
}



/* K-water */
.bg_02 {
    width: 100%;
    height: 100vh;
    background-color: #F5FCFF;
    background-image: url('../images/main_sec2_bg01.png');
    background-repeat: no-repeat;
    position: relative;
    padding-top: 126px;
}

.bg_02::after {
    content: url('../images/main_sec2_bg02.png');
    position: absolute;
    top: 82%;
    left: 0;
    width: 100%;
    height: 100%;
    animation: wave 8s infinite;
}

@keyframes wave {
    0% {left: 0}
    50% {left: -20%}
    100% {left: 0}
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}

.title img {
    width: 43px;
}

.title h3 {
    font-size: 42px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
}

.title p {
    font-size: 19px;
    color: #000000;
}

.contents {
    max-width: 1410px;
    margin: 0 auto;
    display: flex;
}

.banner_left {}
.banner_left div {
    border-radius: 16px 0 16px 0;
    width: 455px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0 0 38px;
    box-shadow: 7px -4px 7px 0px rgba(0,0,0,0.21);
    cursor: pointer;
}

.banner_left div h4 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 34px;
    position: relative;
}

.banner_left div h4::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 26px;
    height: 4px;
}

.banner_left .banner_fst {
    height: 264px;
    background-image: url('../images/banner_01.png');
    margin-bottom: 22px;
    color: #ffffff;
}

.banner_left .banner_sec {
    height: 185px;
    background-image: url('../images/banner_02bg.png');
    position: relative;
}

.banner_left .banner_sec::after {
    content: url('../images/banner_02ac.png');
    position: absolute;
    bottom: -4px;
    left: 39%;
    width: 100%;
    z-index: 0;
}

.banner_left .banner_fst h4::after {
    background-color: #ffffff;
}

.banner_left .banner_sec h4::after {
    background-color: #3D66C4;
}

.banner_left .banner_fst p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 43px;
}

.banner_left .banner_sec p {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
}

.banner_left .banner_fst a {
    position: absolute;
}

.banner_left .banner_sec a {
    position: absolute;
    bottom: 26px;
    left: 86%;
    width: 100%;
    z-index: 1;
}

.banner_left div:hover p {
    text-decoration: underline;
}

.banner_left div:hover a {
    animation: hover_arr 0.5s forwards;
}

@keyframes hover_arr {
    25% {transform: translateX(0);}
    100% {transform: translateX(10px);}
}



.banner_right > div {
    border-radius: 0 16px 0 16px;
    width: 455px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0 0 38px;
    box-shadow: 4px -4px 14px 0px rgba(0,0,0,0.21);
    cursor: pointer;
}

.banner_right div h4 {
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 34px;
   position: relative;
}

.banner_right div h4::after {
   content: '';
   position: absolute;
   bottom: -17px;
   left: 0;
   width: 26px;
   height: 4px;
}

.banner_right .banner_fst {
   height: 235px;
   background-image: url('../images/banner_04.png');
   margin-bottom: 22px;
}

.banner_right .banner_sec {
   height: 223px;
   background-color: #B9C3FF;
   position: relative;
}

.banner_right .banner_sec::after {
   content: url('../images/banner_05cha.png');
   position: absolute;
   bottom: -4px;
   left: 51.5%;
   width: 100%;
   z-index: 0;
}

.banner_right .banner_fst h4::after {
   background-color: #3D66C4;
}

.banner_right .banner_fst p {
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 43px;
}

.banner_right .banner_fst a {
    position: absolute;
}

.banner_right .banner_sec h4 {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.banner_right div:hover p {
    text-decoration: underline;
}

.banner_right div:hover a {
    animation: hover_arr 0.5s forwards;
}

.line_01, .line_02 {
    position: absolute;
    left: 38px;
    display: flex;
    gap: 8px;
    padding: 0;
}

.line_01 {
    top: 70px;
}

.line_02 {
    top: 130px;
}

.banner_sec > div img {
    z-index: 1;
}

.banner_sec > div img:hover {
    animation: hover_rotate 0.3s 4;
    /* transform: rotateY(180deg); */
}

@keyframes hover_rotate {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(180deg);}
}

.slider {
    width: 455px;
    height: 471px;
    overflow: hidden;
    background-color: red;
    border-radius: 16px 16px 0 0;
    margin: 0 18px;
    position: relative;
}

.slider ul {
    
}

.popup_zone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
    line-height: 63px;
    background-color: #18263B;
    padding-left: 20px;
    display: flex;
}

.popup_zone h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-right: 130px;
}

#slider_paging {
    color: #ffffff;
}

.arrow_left, .arrow_right {
    position: absolute;
    bottom: 20px;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    cursor: pointer;
}

.arrow_left {
    right: 80px;
    transform: rotate(135deg);
}

.arrow_right {
    right: 20px;
    transform: rotate(-45deg);
}

.stop {
    position: absolute;
    bottom: 20px;
    right: 55px;
    width: 12px;
    height: 20px;
    border: none;
    background-color: #18263B;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    cursor: pointer;
    z-index: 1;
}

.play {
    position: absolute;
    bottom: 20px;
    right: 48px;
    width: 20px;
    height: 20px;
    background-color: #18263B;
    border: none;
    background-image: url('../images/btn_play.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}


/* service */
.bg_03 {
    width: 100%;
    height: 100vh;
    background-image: url('../images/main_section02_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 126px;
    color: #ffffff;
}

.bg_03 .title h3,
.bg_03 .title p {
    color: #ffffff;
}

.bg_03 .title p {
    font-weight: 300;
    margin-bottom: 10px;
}

.bg_03 .items {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: start;
}

.menu_left {
    width: 325px;
    height: 440px;
    border: 2px solid #ffffff;
    border-top: 3px solid #ffffff;
    padding: 35px 30px;
}

.menu_left h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

.menu_left ul li {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    font-weight: 300;
    border-top: 1px dashed #ffffff;
}

.menu_left ul li:nth-of-type(1) {
    border: none;
}

.menu_left ul li a {
    position: relative;
}

.menu_left ul li:hover a {
    text-decoration: underline;
}

.menu_left ul li:hover a::after {
    content: url('../images/main_arrow_fff.png');
    position: absolute;
    top: -22px;
    right: -50px;
    transition: all 0.5s;
}

.menu_center {
    margin: 0 20px;
}

.menu_center .button {
    width: 697px;
    height: 204px;
    border: 2px solid #ffffff;
    border-top: 3px solid #ffffff;
    padding: 35px 20px;
    display: flex;
    align-items: start;
    margin-bottom: 18px;
}

.menu_center .button li {
    width: 163px;
    height: 134px;
    padding-top: 26px;
    text-align: center;
    border-left: 1px dashed #ffffff;
}

.menu_center .button li:nth-of-type(1) {
    border: none;
}

.menu_center .button li img {
    margin: 0 auto 9px;
}

.menu_center .button li:hover img {
    animation: hover-ani 2s infinite;
}

.menu_center .button li p {
    font-size: 18px;
    font-weight: 100;
}

@keyframes hover-ani {
    25% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(4px);
    }

    75% {
        transform: translateY(-4px);
    }
}



.sec2_banners {
    display: flex;
    gap: 27px;
}

.sec2_banners > div {
    width: 335px;
    height: 218px;
    border: 2px solid #ffffff;
    border-top: 3px solid #ffffff;
}

.sec2_banners .menu_list {
    padding: 0 34px;
}

.sec2_banners .menu_list > a {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 267px;
    height: 78px;
    line-height: 78px;
    margin: 0 auto;
    border-bottom: 1px dashed #ffffff;
}

.sec2_banners .menu_list a img {
    width: 48px;
    height: 45px;
}

.sec2_banners .menu_list a p {
    font-size: 18px;
    font-weight: 100;
}

.sec2_banners .menu_list a:hover p {
    text-decoration: underline;
}

.menu_list .my_info {
    width: 267px;
    display: flex;
    justify-content: space-between;
}

.menu_list .my_info h3 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 17px;
}

.menu_list .my_info .go_link {
    display: flex;
    flex-direction: column;
}

.menu_list .my_info .go_link a {
    display: block;
    width: 174px;
    height: 60px;
    line-height: 60px;
    border-top: 1px dashed #ffffff;
    font-size: 18px;
    font-weight: 100;
    padding-left: 14px;
}

.menu_list .my_info .go_link a:nth-of-type(1) {
    border: none;
}

.menu_list .my_info .go_link a:hover {
    text-decoration: underline;
}

.number {
    padding: 61px 60px;
    text-align: center;
    background-color: rgba(28,87,154,0.6);
}

.number h4 {
    font-size: 28px;
    font-weight: 700;
}

.number a {
    font-size: 40px;
    font-weight: 500;
}

.number a:hover {
    text-decoration: underline;
}


.menu_right {
    width: 325px;
    height: 440px;
    border: 2px solid #ffffff;
    border-top: 3px solid #ffffff;
    padding: 35px 30px;
}

.menu_right h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

.menu_right ul li {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    font-weight: 300;
    border-top: 1px dashed #ffffff;
}

.menu_right ul li:nth-of-type(1) {
    border: none;
}

.menu_right ul li a {
    position: relative;
}

.menu_right ul li:hover a {
    text-decoration: underline;
}

.menu_right ul li:hover a::after {
    content: url('../images/main_arrow_fff.png');
    position: absolute;
    top: -22px;
    right: -50px;
    transition: all 0.5s;
}


/* news */
.bg_04 {
    background-color: #F6F6F6;
    width: 100%;
    height: 100vh;
    padding-top: 126px;
    position: relative;
}

.bg_04::after {
    content: url('../images/main_section3_bg.png');
    position: absolute;
    bottom: 0;
    right: 0;
}

.bg_04 .items {
    max-width: 1400px;
    margin: 0 auto;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text li {
    width: 331px;
    height: 200px;
    border-radius: 16px 0 16px 0;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    padding: 21px 0 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.text li .tag {
    width: 110px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    background-color: #3D66C4;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    line-height: 40px;
    padding-left: 42px;
}

.text li .tag.broad {
    background-color: #FD9500;
    color: #111111;
}

.text li p, .text li .date {
    padding: 0 20px;
}

.text li p {
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    word-break: break-all;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text li p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text li .date {
    font-size: 16px;
    color: #999999;
    position: relative;
}

.text li::after {
    content: url('../images/main_news_plus.png');
    position: absolute;
    bottom: 16px;
    left: 300px;
    width: 100%;
    cursor: pointer;
}

.media {
    display: flex;
    justify-content: space-between;
}

.media li {
    width: 331px;
    height: 260px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    position: relative;
}

.media li.webzine {
    background-image: url('../images/webzine_bg_202306.gif');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px 0 16px 0;
    padding: 17px 0 30px 24px;
    font-weight: 700;
    color: #ffffff;
}

.webzine h4 {
    font-size: 24px;
    margin-bottom: 6px;
}

.webzine p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 117px;
}

.webzine .btns {
    display: flex;
}

.webzine .btns a {
    display: block;
    width: 146px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: 100;
}

.webzine .btns a:nth-of-type(1) {
    border-radius: 50px 0 0 50px;
    border-right: 1px solid #999999;
}

.media li img.card {
    width: 331px;
    height: 210px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
}

.media li > div.cate {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    color: #000000;
    padding-left: 20px;
}

iframe.yt_01 {
    border-radius: 16px 16px 0 0;
}

.cate.notice {
    position: relative;
    z-index: 1;
    display: flex;
}

#slide_paging {
    color: #000000;
    margin-left: 110px;
}

.arr_left, .arr_right {
    position: absolute;
    bottom: 19px;
    width: 14px;
    height: 14px;
    border-bottom: 2px solid #222222;
    border-right: 2px solid #222222;
    cursor: pointer;
}

.arr_left {
    right: 80px;
    transform: rotate(135deg);
}

.arr_right {
    right: 20px;
    transform: rotate(-45deg);
}

.pause {
    position: absolute;
    bottom: 19px;
    right: 52px;
    width: 12px;
    height: 18px;
    border: none;
    background-color: #ffffff;
    border-left: 3px solid #222222;
    border-right: 3px solid #222222;
    cursor: pointer;
    z-index: 1;
}

.start {
    position: absolute;
    bottom: 19px;
    right: 48px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    background-image: url('../images/btn_play222.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}



/* culture */
.bg_05 {
    background-color: #E8F4FF;
    width: 100%;
    height: 100vh;
    padding-top: 126px;
    position: relative;
    z-index: 0;
}

.bg_05::after {
    content: url('../images/sec4m_bg.png');
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg_05 .items {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.bg_05 .items .left {
    width: 715px;
    height: 478px;
    background-image: url('../images/lbox-onmuseum.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px 0 0 0;
}

.bg_05 .items .left div {

}

.bg_05 .items .left div h4 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    line-height: 1.3;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.bg_05 .items .left div button {
    position: absolute;
    bottom: 58px;
    left: 50%;
    transform: translateX(-50%);
    width: 145px;
    height: 40px;
    line-height: 40px;
    background-color: #3D66C4;
    color: #ffffff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.bg_05 .items .left div button:hover {
    background-color: #ffffff;
    color: #333333;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.bg_05 .items .right div {
    display: flex;
    gap: 28px;
    margin-bottom: 12px;
}

.bg_05 .items .right div .blog {
    width: 325px;
    height: 231px;
    border-radius: 0 16px 0 0;
    background-image: url('../images/sec4m_rtrbox_bg_202202.jpg');
    background-position: cetner;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 18px 19px;
    display: flex;
    flex-direction: column;
    gap: 0;
    cursor: pointer;
}

.blog:hover h5 {
    text-decoration: underline;
}

.blog h5 {
    font-size: 30px;
    font-weight: 500;
}

.blog p {
    font-size: 13px;
    font-weight: 100;
    color: #666666;
}

.bg_05 .items .right .photo {
    width: 680px;
    height: 224px;
    overflow: hidden;
    cursor: pointer;
}


/* recruit */
.bg_06 {
    background-image: url('../images/main_section05_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 126px;
    position: relative;
}

.bg_06::before {
    content: '';
    position: absolute;
    top: 0;
    left: 35.5%;
    height: 100vh;
    width: 1px;
    background-color: #ffffff;
}

.bg_06::after {
    content: '';
    position: absolute;
    top: 0;
    right: 35.5%;
    height: 100vh;
    width: 1px;
    background-color: #ffffff;
}

.bg_06 .title h3,
.bg_06 .title p {
    color: #ffffff;
}

.bg_06 .title p {
    font-weight: 300;
    margin-bottom: 10px;
}

.bg_06 .items {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    gap: 72px;
}

.left_banner div {
    width: 380px;
    height: 196px;
    border: 2px solid #ffffff;
    border-top: 3px solid #ffffff;
    padding: 54px 0;
    margin-bottom: 14px;
    cursor: pointer;
    transition: all 0.5s;
}

.left_banner div:hover {
    border: none;
    background-color: rgba(0,0,0,0.4);
}

.left_banner div img {
    height: 38px;
    margin: 0 auto;
    margin-bottom: 6px;
}

.left_banner div p {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.center_list {
    height: 406px;
}

.title_sub {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 44px;
}

.bg_06 .items div h4 {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
}

.title_sub img {
    width: 22px;
    cursor: pointer;
}

.title_sub img:hover {
    animation: ani_rotate 0.5s;
}

@keyframes ani_rotate {
    0% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
}

.center_list .poster {
    width: 489px;
    height: 322px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 20px;
}

.right_list ul {
    width: 391px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.right_list ul li {
    height: 57px;
    line-height: 57px;
    color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.right_list ul li a {
    display: block;
    width: 380px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.right_list ul li a::after {
    content: url('../images/board_new.png');
    position: absolute;
    left: 10px;
    top: 10px;
    width: 28px;
    height: 28px;
}

.right_list ul li p {
    font-size: 16px;
    font-weight: 400;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 53px;
    width: 290px;
}

.right_list ul li p:hover {
    text-decoration: underline;
}

.right_list ul li span {
    white-space: nowrap;
} 